.footer {
    background-color: $color-black-dark;
    padding: 25px 0px;

    .footer-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin: 5px 0px;
        }
    }

    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        a {
            margin: 0px 10px;
            font-size: 50px;
            color: $color-white;

            &:hover {
                color: $main-color;
                transition: .3s;
            }
        }
    }

    .footer-logo {
        text-align: right;
        img {
            width: 150px;
        }
    }
}

@media (max-width: 990px) {
    .footer {
        text-align: center;

        .footer-socials {
            justify-content: center;
        }

        .footer-logo {
            text-align: center;
        }
    }
}