// app color variables
$main-color: #00ff7e;
$color-white: #f9f9f9;
$color-black: #1f1f1f;
$color-black-light: #222324;
$color-black-dark: #1a1a1a;
$color-black-opacity: rgba(34, 35, 36, .2);
$color-red: #f40404;

$transition: .3s;